{% extends "registration/base.html" %}

{% block title %}Registrar{% endblock %}

{% block page %}Registrar{% endblock %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<form method="post" action="/accounts/create/">
    {% csrf_token %}
    <h4> Usuário:</h4><input id="FormType1" class="form-control" type="text" name="username"><br>
    <h4> Email:</h4><input id="FormType1" class="form-control" type="text" name="email"><br>
    <h4> Senha:</h4><input id="FormType1" class="form-control" type="password" name="password1"><br>
    <h4> Confirmar senha:</h4><input id="FormType1" class="form-control" type="password" name="password2"><br>
    <input type="submit" value="Register" />
</form>
{% endblock %}