{% extends "core/base.html" %}

{% block title %}{{user.username}}{% endblock %}

{% block navbar %}
	<li>
        <a href="{% url 'auth:login' %}">Login</a>
    </li>
    <li>
    	<a href="/accounts/create">Cadastrar</a>
    </li>
{% endblock %}

{% block content %}
{% for x in slides %}
	<div class="col-md-3 portfolio-item">
		<a href="/slides/{{user.username}}/{{x.titulo}}">
		 <img id="slideImg" src="{{ STATIC_URL }}img/{{user.username}}/{{x.titulo}}/*-0.jpg"> </img>
		 {{x.titulo}}
		 </a>
	</div>
{% endfor %}
{% endblock %}