.item_video {
    padding-bottom: 1em;
    display: -webkit-inline-box;
    -moz-inline-box;

    
}

#FormType1 {
	width:300px;
}

#ConfirmationButtonType1 {
	font-size: 16px;
	width:65px;
}

#player {
	width:450px;
}

#DeleteButton {
	margin-left:103px;

}

h6 {
	font-size:15px;
}
#suggestedVideos {
	font-size:22px;
	overflow-x:hidden;
	height:330px;
	width: 380px;
}

h5 {
	font-size:14px;

}

#DeleteButton {
	background-color:#;
}


h6{
    padding-left: 10px;
}

.delete_video {
	padding-left: 15px;
}
