{% extends "base.html" %}

{% block title %}Adicionar slide{% endblock %}

{% block navbar %}
    <li>
        <a href="{% url 'auth:logout' %}">Logout</a>
    </li>
{% endblock %}

{% block page %}Adicionar slide{% endblock %}

{% block content %}
<form method="post" action="/new/" enctype="multipart/form-data">
    {% csrf_token %}
    <h4> Título:</h4><input id="FormType1" class="form-control" type="text" name="titulo"> <p>Não pode colocar acentos ou caracteres especiais</p>
    PDF: <input type="file" id="FormType1" class="form-control" name="file" size="20"><br>
    <input class="btn" type="submit" value="Adicionar" />
</form>
{% endblock %}